.movie-card-container {
  position: relative;
  border-radius: 15px;
  border: none;
  background-color: white;
  box-shadow: 5px 2px 20px 0px rgba(252, 221, 221, 1);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: monospace;
  * {
    padding: 5px;
  }
  .movie-card-moviename {
    font-weight: bolder;
    font-size: 14px;
    text-wrap: wrap;
    margin-top: 16px;
    .crime {
      background: linear-gradient(to right, maroon, red);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
    .comedy {
      background: linear-gradient(to right, teal, purple);
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .sci-fi {
      background: linear-gradient(to right, yellow, orange);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      -webkit-background-clip: text;
    }
    .horror {
      color: gray;
    }
    .action {
      background: linear-gradient(to right, blue, pink);
      -webkit-text-fill-color: transparent;
      -webkit-background-clip: text;
      background-clip: text;
    }
  }
  .movie-card-moviegenres {
    font-size: 12px;
  }
  .movie-card-movierating {
    font-weight: 500;
  }
  .movie-card-checkbox {
    position: absolute;
    top: 0px;
    left: 0px;
  }
}
.movie-card-container:hover {
  cursor: pointer;
}
