.recbyselect-container {
  width: 45vw;
  .title {
    font-weight: 500;
    margin-bottom: 10px;
  }
  div::-webkit-scrollbar {
    width: 10px;
  }
  div::-webkit-scrollbar-thumb {
    background: rgb(252, 112, 112);
  }
  div::-webkit-scrollbar-track {
    background: #aaa;
  }

  .recbyselect-movies {
    display: flex;
    flex-wrap: wrap;
    height: 75vh;
    overflow-y: auto;
    > div {
      margin: 20px;
      min-width: calc(100% / 6);
    }
  }
  .recbyselect-get-rec {
    padding: 10px 15px;
    background: linear-gradient(130deg, teal, skyblue);
    margin: 10px;
    border: none;
    color: white;
  }
  .recbyselect-get-rec:hover {
    cursor: pointer;
  }
  .recbyselect-get-rec:active {
    transform: scale(0.95);
  }
}
