.App {
  text-align: center;
  /* align-items: center; */
  background: linear-gradient(
    180deg,
    rgba(247, 247, 247, 1) 24%,
    rgba(252, 221, 221, 1) 92%
  );
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}
